.App {
  display: grid;
  gap: 20px;
  max-width: 100vw;
  min-height: 100vh;
  padding: 20px;
  margin: auto 10% ;
  
}

.Column {
  color: white;
}

.Title {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
  background-color: rgb(218, 255, 170);
}

.Content {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  display: none;
}
