<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
  {% include 'heading.html' %}
    <div class="about">
      <header class="header-30">
        <div class="column7">
          <div class="content15">
            <h1 class="medium-length-hero">
              Using AI to develop convenient party planning. 
            </h1>
            <div class="lorem-ipsum-dolor4">
              Ever had trouble trying to create a drink, but don't know what to do with your current stock? MixBot takes that worry away.
            </div>
          </div>
          <div class="actions2">
            <div class="button18">
              <div class="button19">Button</div>
            </div>
            <div class="button20">
              <div class="button21">Button</div>
            </div>
          </div>
        </div>
      </header>
      <section class="layout-1">
        <div class="container3">
          <div class="content16">
            <div class="section-title3">
              <div class="subheading">About us</div>
              <div class="content17">
                <h1 class="heading2">About MixMaster</h1>
                <div class="text3">
                  Our mission at MixMaster is to revolutionize the art of mixology through AI-driven precision, empowering everyone to craft exceptional cocktails with ease, creativity, and personalization.
                    
                </div>
              </div>
            </div>
            <div class="actions3">
              <div class="button22">
                <div class="button23">Button</div>
              </div>
              <div class="button24">
                <div class="button25">Button</div>
                <img
                  class="icon-chevron-right"
                  alt=""
                  src="{% static '' %}./public/icon--chevronright.svg"
                />
              </div>
            </div>
          </div>
          <img
            class="placeholder-image-icon3"
            alt=""
            src="{% static '' %}./public/Screenshot 2024-10-26 172840.png"
          />
        </div>
      </section>
      <section class="team-5">
        <div class="section-title5">
          <div class="subheading2">Our team</div>
          <div class="content23">
            <h1 class="heading7">Dev Team 5</h1>
            <div class="lorem-ipsum-dolor5">
              A quick list of the developers and members that made this project
              possible.
            </div>
          </div>
        </div>
        <div class="content24">
          <div class="content25">
            <div class="row2">
              <div class="card">
                <img
                  class="placeholder-image-icon5"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/pfpkp.jpg"
                />

                <div class="content26">
                  <div class="title">
                    <div class="name3">Koundinya Pammi</div>
                    <div class="job-title">Backend Developer</div>
                  </div>
                  <div class="bio">
                    Developed the map display and implemented the favorites
                    feature.
                  </div>
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/koundinya-pammi-a32020251/" target = "_blank">
                  <img
                    class="icon-linkedin1"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--linkedin.svg"
                  />
                    </a>
                    <a href="https://www.instagram.com/" target = "_blank">
                  <img
                    class="icon-x1"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--instagram.svg"
                  />
                    </a>
                    <a href="https://github.com/pammikoundi" target = "_blank">
                  <img
                    class="icon-dribble"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/githublogo-1@2x.png"
                  />
                    </a>
                </div>
              </div>
              <div class="card1">
                <img
                  class="placeholder-image-icon6"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/pfpep.jpg"
                />

                <div class="content27">
                  <div class="title1">
                    <div class="name4">Eshani Patel</div>
                    <div class="job-title1">Technical Support</div>
                  </div>
                  <div class="bio1">
                    Developed database reading capabilities to show users
                    reviews, as well as pin information.
                  </div>
                </div>
{#                <div class="social-icons1">#}
{#                  <img#}
{#                    class="icon-linkedin2"#}
{#                    loading="lazy"#}
{#                    alt=""#}
{#                    src="{% static '' %}./public/icon--linkedin.svg"#}
{#                  />#}
{##}
{#                  <img class="icon-x2" alt="" src="{% static '' %}./public/icon--x.svg" />#}
{##}
{#                  <img#}
{#                    class="icon-dribble1"#}
{#                    alt=""#}
{#                    src="{% static '' %}./public/icon--dribble.svg"#}
{#                  />#}
{#                </div>#}
{#              </div>#}
{#                  </div>#}
                <div class="social-icons1">
                    <a href="https://www.linkedin.com/in/eshani-patel/" target = "_blank">
                  <img
                    class="icon-linkedin2"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--linkedin.svg"
                  />
                    </a>
                    <a href="https://www.instagram.com" target = "_blank">
                  <img
                    class="icon-x1"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--instagram.svg"
                  />
                    </a>
                    <a href="https://github.com/" target = "_blank">
                  <img
                    class="icon-dribble"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/githublogo-1@2x.png"
                  />
                    </a>
                </div>
              </div>
              <div class="card2">
                <img
                  class="placeholder-image-icon7"
                  loading="lazy"
                  alt=""
                  src="{% static '' %}./public/placeholder-image-4@2x.png"
                />

                <div class="content28">
                  <div class="title2">
                    <div class="name5">Aryan Bhatia</div>
                    <div class="job-title2">Full-Stack Developer</div>
                  </div>
                  <div class="bio2">
                    Developed and designed the frontend of a website,
                    ensuring seamless integration with backend systems for optimal performance.
                  </div>
                </div>
{#                <div class="social-icons2">#}
{#                  <img#}
{#                    class="icon-linkedin3"#}
{#                    alt=""#}
{#                    src="{% static '' %}./public/icon--linkedin.svg"#}
{#                  />#}
{##}
{#                  <img class="icon-x3" alt="" src="{% static '' %}./public/icon--x.svg" />#}
{##}
{#                  <img#}
{#                    class="icon-dribble2"#}
{#                    alt=""#}
{#                    src="{% static '' %}./public/icon--dribble.svg"#}
{#                  />#}
{#                </div>#}
                  <div class="social-icons1">
                    <a href="https://www.linkedin.com/in/aryan-bhatia-b17618211/" target = "_blank">
                  <img
                    class="icon-linkedin2"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--linkedin.svg"
                  />
                    </a>
                    <a href="https://www.instagram.com/adonalsiun?igsh=MWw5dnRoYnRtMmZocQ%3D%3D&utm_source=qr" target = "_blank">
                  <img
                    class="icon-x1"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/icon--instagram.svg"
                  />
                    </a>
                    <a href="https://github.com/Adonalsiun" target = "_blank">
                  <img
                    class="icon-dribble"
                    loading="lazy"
                    alt=""
                    src="{% static '' %}./public/githublogo-1@2x.png"
                  />
                    </a>
                </div>
              </div>
            </div>

            
          </div>
          <div class="content32">
            <div class="content33">
              <h1 class="heading8">Start Exploring!</h1>
              <div class="text10">Start exploring restaurants here.</div>
            </div>
            <button class="button26" id="buttonView">
              <div class="button27">Explore</div>
            </button>
          </div>
        </div>
      </section>
    </div>

    <script>
      
      </script>
  {% include 'footer.html' %}
  </body>
</html>
